<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>모두모두 모여라</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/b1.css" rel="stylesheet">

    <script src="js/custom-browser.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">모두모두 모여라</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% if(!isAuthenticated){ %>
                    <li class="nav-item">
                    <li class="nav-item"><a class="nav-link" href="/login"> My page </a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"> Login </a></li>
                    </li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/mypage">My page</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>모여라 열기</h1>
                        <span class="subheading">새로운 모여라 공동구매 폼 생성하기</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <form action="/open/create" method="post">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- id를 name으로 변경 -->
                    <p>당신과 같은 제품을 구매하고자 하는 사람들을 모아보세요!</p>

                    <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                    <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>작성자</label>
                                <input type='text' class="form-control" placeholder="작성자 기입" name="creator" required
                                    data-validation-required-message="Please enter a creator.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>공동구매 제품 설명</label>
                                <textarea rows="5" class="form-control" placeholder="공동구매 제품 설명" name="information"
                                    required
                                    data-validation-required-message="Please enter a product information."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>참여 기간</label>
                                <input type="number" class="form-control" placeholder="참여 기간" name="duration" required
                                    data-validation-required-message="Please enter duration of participation.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>오픈채팅 링크</label>
                                <input type="email" class="form-control" placeholder="오픈채팅 링크" name="link" required
                                    data-validation-required-message="Please enter open chatting link.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>kakao id</label>
                                <input type="tel" class="form-control" placeholder="kakao id" name="kakaoid" required
                                    data-validation-required-message="Please enter your kakao id.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>최대 참여 인원수</label>
                                <input type="number" class="form-control" placeholder="최대 참여 인원" name="maxParticipants"
                                    required data-validation-required-message="Please enter maximum participation.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </form>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- <p class="copyright text-muted">Copyright &copy; 2020</p> -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#navbarResponsive").load("/header.html");
        });
    </script>
</body>