<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>모두모두 모여라</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/b1.css" rel="stylesheet">

    <script src="js/custom-browser.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">모두모두 모여라</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% if(isAuthenticated){ %>
                    <li class="nav-item"><a class="nav-link" href="/mypage">My page</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login"> My page </a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"> Login </a></li>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>진행중인 모여라</h1>
                        <span class="subheading">현재 참여가능한 모여라 목록</span>

                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Post Content -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <% if(!isAuthenticated){ %>
                <div class="post-preview">
                    <a href="#">

                        <div>
                            <h2 class="post-title">
                                IKEA 책상공구
                            </h2>
                            <h3 class="post-subtitle">
                                진행상황 : 100%
                            </h3>
                        </div>
                        <div>
                            <h3 class="post-state">
                                모여라 진행 중
                            </h3>
                        </div>
                    </a>
                    <p class="post-meta">참여기간:
                        <a href="#">2020.02.10</a>
                    </p>
                </div>
            <% } %>
                <hr>
                
                <div class="form-group">
                    <% if(isAuthenticated){ %>
                    <button type="button" class="btn btn-primary" id="sendMessageButton"
                        onclick="location.href='/open'">모여라 열기</button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <!-- <p class="copyright text-muted">Copyright &copy; 2020</p> -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#navbarResponsive").load("/header.ejs");
        });
    </script>
</body>